<?xml
    version="1.0"
    encoding="utf-8"?>

<configuration>
    <packageSources>
        <add
            key="GitHub"
            value="https://nuget.pkg.github.com/apoqlar/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub>
            <add
                key="Username"
                value="jenkins-vsi-health" />
            <add
                key="ClearTextPassword"
                value="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" />
        </GitHub>
    </packageSourceCredentials>
</configuration>
